---
import PaymentForm from "../components/PaymentForm";
import "../style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Simulation UI</title>
  </head>
  <body>
    <main class="page">
      <div class="card">
        <PaymentForm client:load />
      </div>
    </main>
  </body>
</html>
